@import "./themes.css";

*,                                                                                                                                                                                                                                  
*::before,                                                                                                                                                                                                                          
*::after {                                                                                                                                                                                                                          
  box-sizing: border-box;                                                                                                                                                                                                           
}

html,
body {
  margin: 0;
}

body {
  min-height: 100dvh;
  padding-block-start: var(--header-height, 4rem);
  padding-bottom: 5rem;
}

.page-container {
  width: 100%;
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: clamp(1rem, 5vw, 1rem);
}

.section-container {
  padding: 5rem 0;
}

/* Development utilities */

.dev-borders {
  border: 1px dashed black;
}
