:root {
  --bg-color-light: oklch(100% 0.0001 271.152deg / 30%);
  --bg-color-dark: oklch(0% 0 0deg / 88.4%);
  --bg-color-retro-light: oklch(69.6% 0.17 162.48deg);
  --bg-color-retro-dark: oklch(37.8% 0.077 168.94deg);
  --color-light: oklch(0% 0 0deg);
  --color-dark: oklch(100% 0.0001 271.152deg);
  --color-retro-light: oklch(26.2% 0.051 172.552deg);
  --color-retro-dark: oklch(84.5% 0.143 164.978deg);
  --link-light: oklch(0% 0 0deg);
  --link-dark: oklch(100% 0.0001 271.152deg);
  --link-retro-light: oklch(26.2% 0.051 172.552deg);
  --link-retro-dark: oklch(84.5% 0.143 164.978deg);
  --link-hover-light: oklch(27.274% 0.0001 271.152deg);
  --link-hover-dark: oklch(31.317% 0.0001 271.152deg);
  --link-hover-retro-light: oklch(33.757% 0.0658 171.523deg);
  --link-hover-retro-dark: oklch(88.562% 0.1478 165.618deg);
  --nav-filter-light: blur(10px);
  --nav-filter-dark: blur(10px);
  --nav-filter-retro-light: blur(10px);
  --nav-filter-retro-dark: blur(10px);

  /* 
    DRAFT
    --bg-primary
    --bg-primary-accent
    --bg-secondary
    --bg-secondary-accent
    --bg-tertiary
    --bg-tertiary-accent

    --color-primary
    --color-secondary
    --link-color-primary
    --link-color-primary-accent
    --link-color-secondary
    --link-color-secondary-accent
    
    --icon-fill
    --icon-stroke

    --nav-bg
    --nav-filter

    todo: typography
    todo: animations
  */
}

[data-theme="light"] {
  --link: var(--link-light);
  --link-hover: var(--link-hover-light);
  --navbar-bg: var(--bg-color-light);
  --navbar-fg: var(--color-light);
  --navbar-filter: var(--nav-filter-light)
}

[data-theme="dark"] {
  --link: var(--link-dark);
  --link-hover: var(--link-hover-dark);
  --navbar-bg: var(--bg-color-dark);
  --navbar-fg: var(--color-dark);
  --navbar-filter: var(--nav-filter-dark)
}

[data-theme="retro-light"] {
  --link: var(--link-retro-light);
  --link-hover: var(--link-hover-retro-light);
  --navbar-bg: var(--bg-color-retro-light);
  --navbar-fg: var(--color-retro-light);
  --navbar-filter: var(var(--nav-filter-retro-light))
}

[data-theme="retro-dark"] {
  --link: var(--link-retro-dark);
  --link-hover: var(--link-hover-retro-dark);
  --navbar-bg: var(--bg-color-retro-dark);
  --navbar-fg: var(--color-retro-dark);
  --navbar-filter: var(var(--nav-filter-retro-dark))
}
